.exam-modal.modal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.exam-choices .list-group-item {
  background-color: transparent !important;
  border: none            !important;
}